.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  flex-wrap: wrap;
  gap: 16px;
}

.ant-card-head-title {
  margin: 2 rem !important;
  font-weight: 500;
}
.my-card {
  box-shadow: "0px 0px 30px 8px rgba(227, 227, 227, 0.75)";
  margin: 2rem;
  border-radius: 0.5rem;
  minwidth: 400px;
  flex: 1;
}

.my-card p {
  margin: 0;
}
